aiohappyeyeballs
aiohttp
aiosignal
alpaca-py
alpaca-trade-api
annotated-types
asttokens
attrs
certifi
charset-normalizer
comm
debugpy
decorator
deprecation
dotenv
exceptiongroup
executing
frozenlist
idna
importlib_metadata
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
msgpack
multidict
nest_asyncio
numpy
packaging
pandas
parso
pexpect
pickleshare
platformdirs
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pydantic
pydantic_core
Pygments
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
requests
six
sseclient-py
stack_data
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
websocket-client
websockets
yarl
zipp
